<template name="main">
    <div class="goldengate hidden-phone">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/slide1.jpg" alt="slide1">
                </div>
                <div class="item">
                    <img src="img/slide2.jpg" alt="slide2">
                </div>
                <div class="item">
                    <img src="img/slide3.jpg" alt="slide3">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe class="hidden-phone" width="560" height="315" src="//www.youtube.com/embed/9M8yht_ofHc"
                        frameborder="0" allowfullscreen></iframe>
                <iframe class="visible-phone" width="250" src="//www.youtube.com/embed/9M8yht_ofHc" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2>Our Technology</h2>

                <p>PopWi is building a global radio network for low-power and low-cost internet connectivity. The <a
                        href="{{pathFor 'iot'}}">Internet-of-Things</a> has an exciting future with an expected 1
                    trillion connected devices by 2025. PopWi's new low bandwidth radio service is designed to service
                    Machine-to-Machine (M2M), embedded devices, and sensor networks which otherwise could not connect to
                    the internet due to cost or battery life.</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-5">
                <h2>Comparison</h2>

                <p>Talking about technology comparison here.</p>
            </div>
            <div class="col-md-7">
                <p>table goes here</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-12">
                <h2>another title</h2>
            </div>
        </div>

    </div>
</template>
