<template name="networkmain">
    <div class="container">
        <h2>PopWi Network Coverage</h2>
        <div id="map"></div>
        <div id="map-legend">
            <span class="map-legend-coverage map-legend-decent-coverage">decent coverage</span>
            <span class="map-legend-coverage map-legend-good-coverage">good coverage</span>
            <span class="map-legend-coverage map-legend-great-coverage">great coverage</span>
        </div>
        <h3>Network Performance</h3>
        <p>Highlighted areas on map indicate the expected ability to mantain the minimum PopWi bandwidth.</p>

        <h2>Future Network Coverage</h2>
        <p>We are building our worldwide network as fast as we can. Check back frequently to see improvements in coverage!</p>
    </div>
</template>