<template name="servicemain">
    <div class="container">
        <h2>PopWi Network Service</h2>
        <p>PopWi network service comes with every device. Users can provision their device as simply as pointing their camera phone at the module QR code.</p>
        <h3>Provisioning</h3>
        <p>Text here.</p>
        <h3>Analytics</h3>
        <p>Pretty charts and graphs here.</p>
        <h3>Ready-To-Go Applications</h3>
        <p>We have a number of open source applications which are ready to be branded with your name and served up!</p>
    </div>
</template>
