<template name="supportmain">
    <div class="container">
        <h2>PopWi Technical Support</h2>
        <p>We're here to help you!</p>
        <h3>Harwdare/Software support</h3>
        <ul>
            <li><a href="http://dev.popwi.com/">dev.popwi.com</a> community development wiki</li>
            <li>Email</li>
            <li>Forum</li>
        </ul>

        <h3>Network service support</h3>
        <ul>
            <li>NOC Phone Number</li>
            <li>Email</li>
            <li>PopWi Networks Forum</li>
        </ul>
    </div>
</template>
